


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgba(42, 119, 138, 0.568) ;
    margin-left: 20%;
}

.bloco{
    font-size: 15px;
    font-family: "Oswald", sans-serif;
 
    margin-top: 30px;
    height: 280px;
    width: 250px;
    border-radius: 20px;
    border: solid 1px;
    background-color: aquamarine;
    
}
p{
   padding-left: 15px;
   padding-right: 15px;
   
}

h2 {
    margin: 5%;
}
